.content {
    display: flex;
    flex-direction: column;
    margin-left: 30rem;
    margin-right: 2rem;
    align-items: center;
    color: black;
}

.searchBox {
    margin: 2rem 0;
}

.search {
    margin-right: 2rem;
    width: 20rem;
    height: 5rem;
    font-size: 3.6rem;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
}

.searchBtn {
    width: 3.6rem;
    height: 3.6rem;
    border: 1px solid #e1dede;
    border-radius: 1rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.searchBtn:active {
    scale: 0.96
}

.icon {
    display: block;
    line-height: 100%;
}

.createBtn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20rem;
    height: 5rem;
    font-size: 3rem;
    background-color: #f5f5f5;
    box-shadow: 4px 4px 4px #a3a1a1;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
}
