doctype html
html
  head
    title Document
    style.
      * {
      box-sizing: border-box;
      }
      body {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      }
      .root {
      min-height: 100px;
      max-width: 500px;
      }
      .content {
      width: 100%;
      word-wrap: break-word;
      }
      button {
      background-color: #f50057;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      }
      button a {
      color: #fff;
      text-decoration: none;
      }
  body
    .root
      .content
        h1.title
        p.description
          | Enter this 'Reset Password' to reset your password: 
          |. Ignore this email if it is not you!
      button
        a(href=`${url}`) Reset Password