.content {
    display: flex;
    flex-direction: column;
    margin-left: 30rem;
    margin-right: 2rem;
    align-items: center;
    color: black;
}

.title {
    text-align: center;
    font-size: 6rem;
}

