.body {
    width: 100%;
    margin-top: 7rem;
}

.sidebar {
    padding: 0;
    position: fixed;
    max-width: 30rem;
    height: 100vh;
    list-style-type: none;
    background-color: #f5f5f5;
}

.sidebar-item {
    padding: 1.2rem 2.4rem;
    font-size: 4rem;
}

.sidebar-item:hover {
    background-color: #e0e0e0;
}

.icon {
    font-size: 3rem;
    color: black;
}

.sidebar-item .item-name {
    padding: 0;
    font-size: 4rem;
    margin-left: 12px;
    color: black;
}